.edit {
    background-image: url(../../assets/img/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 2vw;
    height: 4vh;
    cursor: pointer;
}   

.delete {
    background-image: url(../../assets/img/trashcan.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 2vw;
    height: 4vh;
    cursor: pointer;
}