header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    box-shadow: var(--shadow);
    background-color: var(--color-white);
}

main {
    top: 10vh;
    left: 5vw;
    width: 90vw;
}

.imageSection {
    display: none;
}

.companiesList {
    overflow-x: scroll;
}

.company {
    height: 20vh;
    min-width: 50vw;
}

.companyInfo {
    border-bottom: 1px solid var(--color-blue);
}

.enterName, .companyInfo {
    padding-left: var(--paddingInfoLeft);
}
